.footer {
  background-color: #0a2850;
  position: relative;
  overflow: hidden;
}

.footer__content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  padding: 60px 80px 0 80px;
}

.footer__circle {
  width: 340px;
  height: 340px;
  background-color: #1565c0;
  border-radius: 50%;
  position: absolute;
  top: -128px;
  left: -44px;
  z-index: 0;
}

.footer__logo {
  width: 105px;
  height: 39px;
  object-fit: contain;
  position: relative;
  z-index: 1;
  grid-column: 1;
  grid-row: 1;
}

.footer__social {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  justify-self: end;
}

.footer__social-heading {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: auto;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__list-item {
  display: flex;
  align-items: center;
}

.footer__social-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #c1c1c1;
  text-decoration: none;
}

.footer__social-link:hover,
.footer__social-link:focus {
  color: #c1c1c1;
  outline: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.footer__copyright {
  margin-top: 108px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 100px 0 60px 0;
  grid-column: 1;
  grid-row: 2;
  position: relative;
  z-index: 1;
}
