.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  margin-top: 8px;
  height: 60px;
  padding: 15px 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  height: 60px;
  width: 100%;
  margin-top: 32px;
  border-radius: 4px;
  border: none;
  background-color: #2f80ed;
  color: white;
  cursor: pointer;
  transition: opacity 0.3s ease;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox-label {
  display: flex;
  margin-top: 32px;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  justify-content: center;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
