.header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__title {
  margin-top: 183px;
  margin-left: 80px;
  max-width: 709px;
  font-size: 58px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -1px;
  margin-bottom: 28px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  color: #2f80ed;
}

.header__description {
  margin-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  display: flex;
  justify-content: space-between;
  margin: 0 80px 40px 80px;
  margin-top: auto;
  align-items: flex-end;
}

.header__paragraph {
  margin: 0;
}
