.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav__logo {
  margin-top: 30px;
  margin-left: 30px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-right: 80px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
}
