.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 215px;
}

.recipes__title {
  margin-left: 80px;
  max-width: 580px;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  font-weight: 500;
}

.recipes__subtitle {
  margin-top: 24px;
  margin-left: 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
}

.recipes__video-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  color: #fff;
}
