.reservation {
  background-color: #d9e7f3;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__title {
  margin-top: 0;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin-top: 32px;
  width: 100%;
  max-width: 385px;
}
