@import url("../vendor/normalize.css");

@import url("../blocks/page.css");
@import url("../blocks/nav.css");
@import url("../blocks/header.css");
@import url("../blocks/recipes.css");
@import url("../blocks/reservation.css");
@import url("../blocks/form.css");
@import url("../blocks/footer.css");
/*.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav__logo {
  margin-top: 30px;
  margin-left: 30px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-right: 80px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000;
}

.header__title {
  margin-top: 183px;
  margin-left: 80px;
  max-width: 709px;
  font-size: 58px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -1px;
  margin-bottom: 28px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  color: #2f80ed;
}

.header__description {
  margin-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  display: flex;
  justify-content: space-between;
  margin: 0 80px 40px 80px;
  margin-top: auto;
  align-items: flex-end;
}

.header__paragraph {
  margin: 0;
}

.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 215px;
}

.recipes__title {
  margin-left: 80px;
  max-width: 580px;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  font-weight: 500;
}

.recipes__subtitle {
  margin-top: 24px;
  margin-left: 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
}

.recipes__video-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  color: #fff;
}

.reservation {
  background-color: #d9e7f3;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__title {
  margin-top: 0;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin-top: 32px;
  width: 100%;
  max-width: 385px;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  margin-top: 8px;
  height: 60px;
  padding: 15px 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  height: 60px;
  width: 100%;
  margin-top: 32px;
  border-radius: 4px;
  border: none;
  background-color: #2f80ed;
  color: white;
  cursor: pointer;
  transition: opacity 0.3s ease;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox-label {
  display: flex;
  margin-top: 32px;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  justify-content: center;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}*/
